*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
body{
    background: olive;
    color: white;
}

h1{
    text-align: center;
    margin: 2rem;
}
a{
    text-decoration: none;
    color: white;
}
ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}
img{
    display: block;
    max-width: 100%;
}